.search_bar {
    background-color: #E7E7E7 ;
    height: 69px;
    left: 0px;
    top: 10px;
    border-radius: 5px;

    
}
#search_area{ 
    position: relative;
    background-color: #E7E7E7 ;
    width: 90%;
    left: 10px;
    bottom: 5px;
    overflow: visible;
    border:none ;
    left: 0px;
}
.form-tag_area{ 
    left: 10px;
    bottom: 5px;
    margin-right: 0rem ;
    overflow: visible;
}


.bi-search{
    font-size: 2rem;
}

.card-img-top{
    height: 178px;
    background-color: #C7BEBE;
}
.card-body{
    height: 186px;
    background-color:#E7E7E7;
}
.card-text{
    display: grid;
    /* grid-template-columns: [first-line] 50% [second-line] 16% [last-line] 100%;
    grid-template-rows: [first-row] 25% [second-row] 75% [last-row] 100%; */
    grid-template-columns: [first] 50% [line2] 16% [line3]auto;
    grid-template-rows: [row1-start] 25% [last-line]auto;
}
.card-title{
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}
.time_area{
    font-weight: bold;
    grid-column-start: 3 ;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 1rem;

}
.bi-clock{
    font-size: 1.2rem;
}
.ingredients_area{
    grid-column-start: 1 ;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

}
.description_area{
    grid-column-start: 2 ;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 1rem;

}
/* .info-card{
    align-items: center;
} */


/* .bi-x-circle{
    font-size: 1.25rem;
    color: grey;
    font-weight: bolder;

}
.selection{
    border:none;
}

.form-tag_area, .form-filter_area{
    width: 170px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    padding-left: 1rem;
} */
/* .form-tag_area {
    height: 39px;
} */


/* .form-filter_area{
    height: 69px;  
}
.form-filter_area::placeholder, .form-tag_area::placeholder{
    color: white;

}

#searchbar1{
    background-color: #3282F7 ;
}

#searchbar2{
    background-color: #68D9A4 ; 
}

#searchbar3{
    background-color: #ED6454 ; 
}

#tag_ingredients{
    left: 0px;
    top: 0px;
    border-radius: 5px;
   
}

